---

import Card from '../components/Card.astro';
import { skillsData, projectsData } from '../constant/data';
import Layout from '../layouts/Layout.astro';
---


<Layout title="Prashant Mishra">
  <main class="mx-auto p-4 w-full max-w-[calc(100%-2rem)] text-white text-[20px] leading-6">
    <h1 class="text-6xl text-black flex justify-center mb-0 leading-[68px]">
      Prashant Mishra
    </h1>
    <p class="tracking-widest font-Outfit text-black text-sm mt-2 text-center">
      Front-End Developer | Web (React.js) & Mobile (React Native)
    </p>


    <!-- Skills -->
    <section class="pt-10 pb-8">
    <h2 class="mt-8 text-black text-2xl font-semibold">Technical Skill Set</h2>
    <h6 class="mt-2 text-gray-600 text-sm font-medium">Constantly keeping myself updated with the latest tech in frontend space!</h6>

    <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {skillsData.map(skill => (
        <Card
          title={skill.title}
          body={skill.body}
          href={skill.href}
        />
      ))}
    </div>
    </section>

    <!--  projects-->
    <section class="pt-10 pb-8">
      <h2 class="mt-8 text-black text-2xl font-semibold">Projects</h2>
      <h6 class="mt-2 text-gray-600 text-sm font-medium">A few of my public web-design projects!</h6>

      <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {projectsData.map(skill => (
          <Card
            title={skill.title}
            body={skill.body}
            href={skill.href}
          />
        ))}
      </div>
    </section>
  </main>
</Layout>
